@model Models.AppointmentModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var $myBadDates = new Array();

    $(document).ready(function () {
        $('#PatientId').val(sessionStorage.getItem('loginUserId'));
        $('#txtPatientName').val(sessionStorage.getItem('loginUserName'));
        $('#txtPatientName').prop('disabled', true);
        $('#ddlDoctor').prop('disabled', true);
        $('#txtDate').prop('disabled', true);
        $('#ddlTimeSlots').prop('disabled', true);
        $('#ddlLocation').prop('disabled',true);
        
        $(function () {
            
            var today = new Date();
            var thisMonth = today.getMonth() + 1 < 10 ? "0" + (today.getMonth() + 1) : today.getMonth()+1;
            var startDate = "01/" + thisMonth + "/" + today.getFullYear();
            var nextMonth = today.getMonth() + 2;
            
            if (nextMonth > 12) {
                nextMonth = nextMonth - 12;
                var nextYear = today.getFullYear() + 1;
            }
            else {
                var nextYear = today.getFullYear();
            }
            var enddate = "30/" + nextMonth + "/" + nextYear;
            

            $("#txtDate").datepicker({
                dateFormat: 'dd/mm/yy',
                minDate: startDate,
                maxDate: enddate,

                beforeShowDay: checkBadDates
            });

        });
        $.ajax(
            {
                url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/specialty',
                headers: {
                    'Content-Type': 'application/json'
                },
                crossDomain: true,
                type: 'GET',
                dataType: 'json',
                async:false,
                success: function (data) {
                    var options = " <option>SELECT Specialty</option>";

                    data.forEach(function (obj) {

                        options = options + "<option value = '" + obj.SPECIALTY_C + "'>" + obj.SPECIALTY_T + "</option>";
                    });

                    $('#ddlSpecialty').html(options);
                }
            });

        var selectedDoctor = sessionStorage.getItem('selectedDoctorId');
        if (selectedDoctor != null) {
            var selectedDate = sessionStorage.getItem('seletedDate');
            var selectedLocation = sessionStorage.getItem('selectedLocation');
            var selectedSpecilaty = sessionStorage.getItem('selectedSpecialty');
            $('#ddlSpecialty option:contains("' + selectedSpecilaty + '")').prop("selected", true);
            filterDoctors();
            $('#ddlDoctor option:contains("' + selectedDoctor + '")').prop("selected", true);
            filterLocation();
            $('#txtDate').val(selectedDate);
            filterTimeslots();
        }

        filterDoctors();
    })

    function checkBadDates(mydate) {
        var $return = false;
        var $returnclass = "unavailable";
        $checkdate = $.datepicker.formatDate('dd/mm/yy', mydate);
        for (var i = 0; i < $myBadDates.length; i++) {
            if ($myBadDates[i] == $checkdate) {
                $return = true;
                $returnclass = "available";
            }
        }
        return [$return, $returnclass];
    }

    function filterDoctors() {
        var specialtyName = $('#ddlSpecialty').find("option:selected").text();
        if (specialtyName !== "SELECT Specialty") {
            $.ajax(
                {
                    url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/user/doctor?specialty=' + specialtyName,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    crossDomain: true,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var options = " <option>SELECT Doctors</option>";

                        data.forEach(function (obj) {

                            options = options + "<option value = '" + obj.USER_ID + "'>" + obj.FULL_NAME + "</option>";
                        });

                        $('#ddlDoctor').html(options);
                        $('#ddlDoctor').prop('disabled', false);
                    }
                });
        }
        else {
            $('#ddlDoctor').prop('disabled', true);
        }
    }
    function getAllDoctors() {
        $.ajax(
            {
                url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/user/doctor',
                headers: {
                    'Content-Type': 'application/json'
                },
                crossDomain: true,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var options = " <option>SELECT Doctors</option>";

                    data.forEach(function (obj) {

                        options = options + "<option value = '" + obj.USER_ID + "'>" + obj.FULL_NAME + "</option>";
                    });

                    $('#ddlDoctor').html(options);
                }
            });
    }

    function filterTimeslots() {

        var patientId = $('#PatientId').val();
        var doctorId = $('#ddlDoctor').find("option:selected").val();

        var selectedDate = $('#txtDate').val();

        //var day = selectedDate.getDate() < 10 ? "0" + selectedDate.getDate() : selectedDate.getDate();
        //var month = selectedDate.getMonth() + 1 < 10 ? "0" + (selectedDate.getMonth() + 1) : selectedDate.getMonth() + 1;
        //var dateToCheckKey = day + "/" + month + "/" + selectedDate.getFullYear();


        $('#ddlTimeSlots').html(" <option>SELECT Timeslot</option>");
        $.ajax(
            {
                url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/appointment/availbility/' + patientId + '/' + doctorId + '',
                headers: {
                    'Content-Type': 'application/json'
                },
                crossDomain: true,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var options = " <option>SELECT Timeslot</option>";

                    Object.entries(data).forEach(([key, value]) => {
                        if (key == selectedDate) {
                            value.forEach(function (obj) {

                                options = options + "<option value = '" + obj + "'>" + obj + "</option>";
                            });

                        }
                    });

                    $('#ddlTimeSlots').html(options);
                    
                    $('#ddlTimeSlots').prop('disabled', false);
                }
            });
    }

    function filterLocation() {
        var doctorName = $('#ddlDoctor').find("option:selected").text();
        var patientId = $('#PatientId').val();
        var doctorId = $('#ddlDoctor').find("option:selected").val();
        if (doctorName !== "SELECT Doctor") {
            $.ajax(
                {
                    url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/user/doctor?name=' + doctorName,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    crossDomain: true,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var options = " <option>SELECT Location</option>";

                        data.forEach(function (obj) {

                            obj.LOCATION.forEach(function (location) {
                                options = options + "<option value = '" + location.LOCATION_C + "'>" + location.LOCATION_NAME + " (" + location.LOCATION_ADDRESS + ") </option>";

                            });

                        });

                        $('#ddlLocation').html(options);
                        $('#ddlLocation').prop('disabled',false);
                    }
                });

            $.ajax(
                {
                    url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/appointment/availbility/' + patientId + '/' + doctorId + '',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    crossDomain: true,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var options = " <option>SELECT Timeslot</option>";

                        Object.entries(data).forEach(([key, value]) => {
                            $myBadDates.push(key);
                        });

                        
                    }
                });
                $('#txtDate').prop('disabled', false);

        }
        else {
            $('#txtDate').prop('disabled', true);
        }
    }

    function BookNow() {
        var patientid = $('#PatientId').val();
        var doctorid = $('#ddlDoctor').find("option:selected").val();
        var date = $('#txtDate').val();
        var slot = $('#ddlTimeSlots').find("option:selected").val();
        var location = $('#ddlLocation').find("option:selected").val();
        var speciality = $('#ddlSpecialty').find("option:selected").text();
        
        $.ajax(
            {
                url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/appointment/booking',
                headers: {
                    'Content-Type': 'application/json'
                },
                crossDomain: true,
                type: 'POST',
                dataType: 'json',
                async:false,
                data: JSON.stringify({
                    "PATIENT_ID": patientid, "DOCTOR_ID": doctorid, "LOCATION_C": location, "APPT_DT": date, "APPT_SLOT": slot
                }),
                success: function (data) {
                    sessionStorage.setItem('generatedToken', data.TOKEN);
                    $('#btnBook').html('<i class="fa fa-spinner"></i> Booking... Please Wait');
                    //showLoader('Loading, please wait...');
                    callAPI = true;
                    do {
                        var currentTimestamp = new Date().getTime();
                        if (currentTimestamp % 5000 == 0) {
                        $.ajax(
                            {

                                url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/appointment/booking/' + data.TOKEN,
                                headers: {
                                    'Content-Type': 'application/json'
                                },

                                type: 'GET',
                                dataType: 'json',
                                async: false,
                                success: function (data2) {
                                    
                                    if (data2.BOOKING_STATUS == "IN PROGRESS") {

                                    }
                                    else {
                                        bookingstatus = data2.BOOKING_STATUS;
                                        callAPI = false;
                                    }
                                }
                            });

                        }

                       
                    }
                    while (callAPI);
                    $('#btnBook').html('<i class="fa fa-stethoscope"></i> Book Now');
                    if (bookingstatus == "BOOKED") {
                        $('#resultLoading').hide();

                        $('#popUp').modal('show');
                        $('#bookingToken').text(data.TOKEN);
                        var countDownDate = new Date().getTime() + 15 * 60000;

                        // Update the count down every 1 second
                        var x = setInterval(function () {

                            // Get today's date and time
                            var now = new Date().getTime();

                            // Find the distance between now and the count down date
                            var distance = countDownDate - now;

                            // Time calculations for days, hours, minutes and seconds
                            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                            // Output the result in an element with id="demo"
                            document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";

                            // If the count down is over, write some text 
                            if (distance < 0) {
                                clearInterval(x);
                                document.getElementById("demo").innerHTML = "EXPIRED";
                            }
                        }, 1000);                     
                    }
                    else if (bookingstatus == "REJECTED") {
                        $('#resultLoading').hide();
                        alert('the selected slot is not available. please select another timing. ');
                        sessionStorage.setItem('selectedDoctorId', doctorid);
                        sessionStorage.setItem('seletedDate', date);
                        sessionStorage.setItem('selectedLocation', location);
                        sessionStorage.setItem('selectedSpecialty', speciality);
                        window.location.reload();
                    }
                    
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    }

    function ConfirmBooking() {
        var bookingId = $('#bookingToken').text();
       
        $.ajax(
            {

                url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/appointment/booking/' + bookingId,
                headers: {
                    'Content-Type': 'application/json'
                },

                type: 'PUT',
                dataType: 'json',
                async: false, 
                data: JSON.stringify({
                    
                }),
                success: function (data2) {
                    if (data2.BOOKING_STATUS == "CONFIRMED") {
                        alert('Your appointment has been confirmed. Thank you! See you soon');
                        $('#popUp').modal('hide');
                    }
                    
                }
            });

            $('#btnBook').html('<i class="fa fa-stethoscope"></i> Book Now');
    }
    
    var showLoader = function (text) {
        $('#resultLoading').show();
        $('#resultLoading').find('.loader-text').html(text);
    };


    //now your setInterval call is ok
   
</script>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h4>Book Appointment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Patient</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="txtPatientName" />
                <input type="hidden" class="form-control" id="PatientId" />
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.PatientId, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientId, new { htmlAttributes = new { @class = "form-control", style = "display:none" } })
                @*@Html.ValidationMessageFor(model => model.PatientId, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Specialty</label>
            <div class="col-md-10">
                <select class="form-control" id="ddlSpecialty" onchange="filterDoctors()">
                    <option>SELECT Specialty</option>
                </select>

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DoctorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="ddlDoctor" onchange="filterLocation()">
                    <option>SELECT Doctors</option>
                </select>
                @Html.ValidationMessageFor(model => model.DoctorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppointmentDateTime, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-4">
                @Html.EditorFor(model => model.AppointmentDateTime, new { htmlAttributes = new { @class = "form-control", type = "text", onchange = "filterTimeslots()", id = "txtDate"  } })
            </div>
            <div class="col-md-4">
                <select class="form-control" id="ddlTimeSlots">
                    <option>SELECT Timeslots</option>
                </select>
            </div>
            @Html.ValidationMessageFor(model => model.AppointmentDateTime, "", new { @class = "text-danger col-md-10" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="ddlLocation">
                    <option>SELECT Location</option>
                </select>

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-success" onclick="BookNow()" id="btnBook"><i class="fa fa-stethoscope"></i> Book Now</button>

            </div>
        </div>
    </div>
}
<div class="modal fade" id="popUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1></h1>
            </div>
            <div class="modal-body">
                <h4 class="text-success"><span id="demo" class="timer"></span></h4>
                <p id="mytext2">We have booked your selected slot. Please confirm your booking details before expiry. </p>
                <label id="bookingToken"></label>

                <button type="button" class="btn btn-success" onclick="ConfirmBooking()"><i class="glyphicon glyphicon-check"></i> Confirm</button>


            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>
<!-- Modal end-->

<div id="resultLoading" style="display: none; width: 100%; height: 100%; position: fixed; z-index: 10000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;">
    <div style="width: 340px; height: 200px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; z-index: 10; color: rgb(255, 255, 255);">
        <div class="uil-default-css">
            <img src="/images/loading-animation1.gif" style="max-width: 150px; max-height: 150px; display: block; margin-left: auto; margin-right: auto;" />
        </div>
        <div class="loader-text" style="display: block; font-size: 18px; font-weight: 300;">&nbsp;</div>
    </div>
    <div style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
</div>

<div>
    @Html.ActionLink("Back to List", "Appointment")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
