@model Models.MedicalRecordsModel

<script type="text/javascript">
    var $myBadDates = new Array();

    $(document).ready(function () {
        $('#Patientid').val(sessionStorage.getItem('loginUserId'));
        $('#txtPatientName').val(sessionStorage.getItem('loginUserName'));
        $('#txtPatientName').prop('disabled', true);
        


    })



    function filterDoctors() {
        var specialtyName = $('#ddlSpecialty').find("option:selected").text();
        if (specialtyName !== "SELECT Specialty") {
            $.ajax(
                {
                    url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/user/doctor?specialty=' + specialtyName,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    crossDomain: true,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var options = " <option>SELECT Doctors</option>";

                        data.forEach(function (obj) {

                            options = options + "<option value = '" + obj.USER_ID + "'>" + obj.FULL_NAME + "</option>";
                        });

                        $('#ddlDoctor').html(options);
                    }
                });
        }
        else {
            getAllDoctors();
        }
    }
    function getAllDoctors() {
        $.ajax(
            {
                url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/user/doctor',
                headers: {
                    'Content-Type': 'application/json'
                },
                crossDomain: true,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var options = " <option>SELECT Doctors</option>";

                    data.forEach(function (obj) {

                        options = options + "<option value = '" + obj.USER_ID + "'>" + obj.FULL_NAME + "</option>";
                    });

                    $('#ddlDoctor').html(options);
                }
            });
    }

    

   

    function SaveMedicalRecords() {
        var patientid = $('#PatientId').val();
        
        var problem = $('#txtProblem').val();
        var diagnosis = $('#txtDiagnosis').val();
        var assessment = $('#txtAssessment').val();

        $.ajax(
            {
                url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/medrec',
                headers: {
                    'Content-Type': 'application/json'
                },
                crossDomain: true,
                type: 'POST',
                dataType: 'json',
                
                data: JSON.stringify({
                    "PATIENT_ID": patientid, "PROBLEM": problem, "DIAGNOSIS": diagnosis, "ASSESSMENT": assessment
                }),
                success: function (data) {
                    alert('saved');
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    }

    function ConfirmBooking() {
        var bookingId = $('#bookingToken').text();

        $.ajax(
            {

                url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/appointment/booking/' + bookingId,
                headers: {
                    'Content-Type': 'application/json'
                },

                type: 'PUT',
                dataType: 'json',
                async: false,
                data: JSON.stringify({

                }),
                success: function (data2) {
                    if (data2.BOOKING_STATUS == "CONFIRMED") {
                        alert('Your appointment has been confirmed. Thank you! See you soon');
                        $('#popUp').modal('hide');
                    }

                }
            });
    }



    //now your setInterval call is ok

</script>

@using (Html.BeginForm())
{
    

    <div class="form-horizontal">
        <h4>My Medical Records</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        @Html.HiddenFor(model => model.Patientid, new { htmlAttributes = new { @class = "form-control" } })
        <div class="form-group">
            <label class="control-label col-md-2">Patient</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="txtPatientName" />
                <input type="hidden" class="form-control" id="PatientId" />
            </div>
        </div>         

        <div class="form-group">
            @Html.LabelFor(model => model.Problem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" id="txtProblem" rows="3"></textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Diagnosis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" id="txtDiagnosis" rows="3"></textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Assessment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" id="txtAssessment" rows="3"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-success" onclick="SaveMedicalRecords()" type="button"><i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "HealthRecords")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
