@model Models.MedicalRecordsModel

<script type="text/javascript">
    var $myBadDates = new Array();

    $(document).ready(function () {
        var userId = sessionStorage.getItem('loginUserId');
        $('#Patientid').val(1001497);
        $('#txtPatientName').val(sessionStorage.getItem('loginUserName'));
        $('#txtPatientName').prop('disabled', true);
        var role = sessionStorage.getItem('loginRole');
        if (role !== 'Doctor') {
            $('#diagnosis').prop('style', 'display:none');
            $('#assessment').prop('style', 'display:none');
        }
        else {
            $('#diagnosis').prop('style', '');
            $('#assessment').prop('style', '');
        }

       

        var assessment = '';
        $.ajax(
            {
                url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/medrec/id/' + 9,
                headers: {
                    'Content-Type': 'application/json'
                },
                crossDomain: true,
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (data) {
                    

                    $.each(data, function (i, item) {
                        var problem = item.PROBLEM;
                        var diagnosis = item.DIAGNOSIS;

                        var medication = "";

                        item.MEDICATION.forEach(function (obj) {
                            medication += obj.NAME_T + "(" + obj.QUANTITY + "): " + obj.NOTES;

                        });


                        var assessment = item.ASSESSMENT;

                        $('#txtProblem').val(problem);
                        $('#txtDiagnosis').val(diagnosis);
                        $('#txtAssessment').val(assessment);





                    });


                }
            });

       
    })

   

    function EditMedicalRecords() {
        var userId = sessionStorage.getItem('loginUserId');
        var role = sessionStorage.getItem('loginRole');
        var patientid = $('#PatientId').val();
        
        var problem = $('#txtProblem').val();
        var diagnosis = $('#txtDiagnosis').val();
        var assessment = $('#txtAssessment').val();
        if (role == 'Doctor') {
            var diagnosis = $('#txtDiagnosis').val();
            var assessment = $('#txtAssessment').val();
            $.ajax(
                {
                    url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/medrec',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    crossDomain: true,
                    type: 'POST',
                    dataType: 'json',

                    data: JSON.stringify({
                        "PATIENT_ID": patientid, "PROBLEM": problem, "DIAGNOSIS": diagnosis, "ASSESSMENT": assessment, "CREATED_BY": userId
                    }),
                    success: function (data) {
                        alert('saved');
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
        }
        else {
            $.ajax(
                {
                    url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/medrec/' + userId,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    crossDomain: true,
                    type: 'PUT',
                    dataType: 'json',
                    async:false,
                    data: JSON.stringify({
                        "PATIENT_ID": userId, "PROBLEM": problem, "CREATED_BY": userId
                    }),
                    success: function (data) {
                        alert('Your medical record is updated');
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
        }
        
    }

    function ConfirmBooking() {
        var bookingId = $('#bookingToken').text();

        $.ajax(
            {

                url: 'https://kj6snt7kn9.execute-api.ap-southeast-1.amazonaws.com/dev/appointment/booking/' + bookingId,
                headers: {
                    'Content-Type': 'application/json'
                },

                type: 'PUT',
                dataType: 'json',
                async: false,
                data: JSON.stringify({

                }),
                success: function (data2) {
                    if (data2.BOOKING_STATUS == "CONFIRMED") {
                        alert('Your appointment has been confirmed. Thank you! See you soon');
                        $('#popUp').modal('hide');
                    }

                }
            });
    }



    //now your setInterval call is ok

</script>

@using (Html.BeginForm())
{
    

    <div class="form-horizontal">
        <h4>My Medical Records</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        @Html.HiddenFor(model => model.Patientid, new { htmlAttributes = new { @class = "form-control" } })
        <div class="form-group">
            <label class="control-label col-md-2">Patient</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="txtPatientName" />
                <input type="hidden" class="form-control" id="PatientId" />
            </div>
        </div>         

        <div class="form-group">
            @Html.LabelFor(model => model.Problem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" id="txtProblem" rows="3"></textarea>
            </div>
        </div>

        <div class="form-group" id="diagnosis">
            @Html.LabelFor(model => model.Diagnosis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" id="txtDiagnosis" rows="3"></textarea>
            </div>
        </div>

        <div class="form-group" id="assessment">
            @Html.LabelFor(model => model.Assessment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" id="txtAssessment" rows="3"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" onclick="EditMedicalRecords()" type="button"><i class="fa fa-save"></i> Save Changes</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "HealthRecords")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
